<footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-6">
          <h6>COZY HOME</h6>
          <p class="text-justify">Cozy Home Hotel Manila opens
            its doors with bright smiles and utmost care that is #SimplyHeartfelt.
            Located at the center of the business and commercial district, center of the Metro,
            we introduce sound amenities and conveniences that promote the indulgence of
            local culture through culinary delights, design, and ambiance.
            Welcome home, welcome to Cozy Home.</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Terms & Conditions</h6>
          <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Bookings & Conditions</a></li>
            <li><a href="#">Website Terms</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Accomodation</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
            <a href="#">COZY HOME</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
